---
import Link from "../components/Link.astro";
import Footer from "../components/Footer.astro";

const identity = {
    firstname: "Tom",
    country: "France",
    skills: ["html", "css", "JS"],
};
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <Link />
        <h1>About</h1>
        <p>
            My name is {identity.firstname} from {identity.country} and my skills
            are :
        </p>
        <ul>
            {identity.skills.map((skill) => <li>{skill}</li>)}
        </ul>
        <Footer />
    </body>
</html>
